In [1]:
import pandas as pd
import numpy as np

In [2]:
cd Desktop

C:\Users\sanch\Desktop

In [4]:
data=pd.read_csv("test.csv")

In [5]:
data.head()

,name,name3,address,name.1,value,description,coordinates,begin,end
0,2018-02-01,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...",Email,sanchayvyas@gmail.com,NaN,"72.9000899,19.0774884,0",2018-01-31T17:21:54.049Z,2018-02-01T03:20:07.840Z
1,2018-02-01,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...",Category,Non-Profit Organization,NaN,"72.9000899,19.0774884,0",2018-01-31T17:21:54.049Z,2018-02-01T03:20:07.840Z
2,2018-02-01,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...",Distance,0,NaN,"72.9000899,19.0774884,0",2018-01-31T17:21:54.049Z,2018-02-01T03:20:07.840Z
3,2018-02-01,Motorcycling,NaN,Email,sanchayvyas@gmail.com,NaN,NaN,2018-02-01T03:20:07.840Z,2018-02-01T03:44:40.685Z
4,2018-02-01,Motorcycling,NaN,Category,Motorcycling,NaN,NaN,2018-02-01T03:20:07.840Z,2018-02-01T03:44:40.685Z

In [6]:
data.drop(["value", "description", "name.1"],axis=1)

,name,name3,address,coordinates,begin,end
0,2018-02-01,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...","72.9000899,19.0774884,0",2018-01-31T17:21:54.049Z,2018-02-01T03:20:07.840Z
1,2018-02-01,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...","72.9000899,19.0774884,0",2018-01-31T17:21:54.049Z,2018-02-01T03:20:07.840Z
2,2018-02-01,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...","72.9000899,19.0774884,0",2018-01-31T17:21:54.049Z,2018-02-01T03:20:07.840Z
3,2018-02-01,Motorcycling,NaN,NaN,2018-02-01T03:20:07.840Z,2018-02-01T03:44:40.685Z
4,2018-02-01,Motorcycling,NaN,NaN,2018-02-01T03:20:07.840Z,2018-02-01T03:44:40.685Z
5,2018-02-01,Motorcycling,NaN,NaN,2018-02-01T03:20:07.840Z,2018-02-01T03:44:40.685Z
6,2018-02-01,K. J. Somaiya Institute of Engineering and Inf...,"Somaiya Ayurvihar Complex, Eastern Express Hig...","72.871043,19.046146,0",2018-02-01T03:44:40.685Z,2018-02-01T07:58:55.278Z
7,2018-02-01,K. J. Somaiya Institute of Engineering and Inf...,"Somaiya Ayurvihar Complex, Eastern Express Hig...","72.871043,19.046146,0",2018-02-01T03:44:40.685Z,2018-02-01T07:58:55.278Z
8,2018-02-01,K. J. Somaiya Institute of Engineering and Inf...,"Somaiya Ayurvihar Complex, Eastern Express Hig...","72.871043,19.046146,0",2018-02-01T03:44:40.685Z,2018-02-01T07:58:55.278Z
9,2018-02-01,Driving,NaN,NaN,2018-02-01T07:58:55.278Z,2018-02-01T08:40:07.807Z
10,2018-02-01,Driving,NaN,NaN,2018-02-01T07:58:55.278Z,2018-02-01T08:40:07.807Z
11,2018-02-01,Driving,NaN,NaN,2018-02-01T07:58:55.278Z,2018-02-01T08:40:07.807Z
12,2018-02-01,K. J. Somaiya Hospital,"Somaiya Ayurvihar Complex, Eastern Express Hig...","72.8748609,19.047134,0",2018-02-01T08:40:07.807Z,2018-02-01T09:00:10.569Z
13,2018-02-01,K. J. Somaiya Hospital,"Somaiya Ayurvihar Complex, Eastern Express Hig...","72.8748609,19.047134,0",2018-02-01T08:40:07.807Z,2018-02-01T09:00:10.569Z
14,2018-02-01,K. J. Somaiya Hospital,"Somaiya Ayurvihar Complex, Eastern Express Hig...","72.8748609,19.047134,0",2018-02-01T08:40:07.807Z,2018-02-01T09:00:10.569Z
15,2018-02-01,Driving,NaN,NaN,2018-02-01T09:00:10.569Z,2018-02-01T09:20:42.821Z
16,2018-02-01,Driving,NaN,NaN,2018-02-01T09:00:10.569Z,2018-02-01T09:20:42.821Z
17,2018-02-01,Driving,NaN,NaN,2018-02-01T09:00:10.569Z,2018-02-01T09:20:42.821Z
18,2018-02-01,Somaiya Ground,"Samarth Nagar, Chunabhatti, Sion, Mumbai, Maha...","72.8711172,19.0503288,0",2018-02-01T09:20:42.821Z,2018-02-01T10:58:35.862Z
19,2018-02-01,Somaiya Ground,"Samarth Nagar, Chunabhatti, Sion, Mumbai, Maha...","72.8711172,19.0503288,0",2018-02-01T09:20:42.821Z,2018-02-01T10:58:35.862Z
20,2018-02-01,Somaiya Ground,"Samarth Nagar, Chunabhatti, Sion, Mumbai, Maha...","72.8711172,19.0503288,0",2018-02-01T09:20:42.821Z,2018-02-01T10:58:35.862Z
21,2018-02-01,Motorcycling,NaN,NaN,2018-02-01T10:58:35.862Z,2018-02-01T13:59:17.116Z
22,2018-02-01,Motorcycling,NaN,NaN,2018-02-01T10:58:35.862Z,2018-02-01T13:59:17.116Z
23,2018-02-01,Motorcycling,NaN,NaN,2018-02-01T10:58:35.862Z,2018-02-01T13:59:17.116Z
24,2018-02-01,Nehru Nagar,"Kurla East, Mumbai, Maharashtra","72.8825627,19.063989799999998,0",2018-02-01T13:59:17.116Z,2018-02-01T14:47:50.349Z
25,2018-02-01,Nehru Nagar,"Kurla East, Mumbai, Maharashtra","72.8825627,19.063989799999998,0",2018-02-01T13:59:17.116Z,2018-02-01T14:47:50.349Z
26,2018-02-01,Nehru Nagar,"Kurla East, Mumbai, Maharashtra","72.8825627,19.063989799999998,0",2018-02-01T13:59:17.116Z,2018-02-01T14:47:50.349Z
27,2018-02-01,Motorcycling,NaN,NaN,2018-02-01T14:47:50.349Z,2018-02-01T15:14:15.000Z
28,2018-02-01,Motorcycling,NaN,NaN,2018-02-01T14:47:50.349Z,2018-02-01T15:14:15.000Z
29,2018-02-01,Motorcycling,NaN,NaN,2018-02-01T14:47:50.349Z,2018-02-01T15:14:15.000Z
...,...,...,...,...,...,...
888,2018-02-22,Moving,NaN,NaN,2018-02-22T12:59:14.931Z,2018-02-22T13:13:24.492Z
889,2018-02-22,Moving,NaN,NaN,2018-02-22T12:59:14.931Z,2018-02-22T13:13:24.492Z
890,2018-02-22,Moving,NaN,NaN,2018-02-22T12:59:14.931Z,2018-02-22T13:13:24.492Z
891,2018-02-22,K. J. Somaiya Institute of Engineering and Inf...,"Somaiya Ayurvihar Complex, Eastern Express Hig...","72.871043,19.046146,0",2018-02-22T13:13:24.492Z,2018-02-22T13:33:19.636Z
892,2018-02-22,K. J. Somaiya Institute of Engineering and Inf...,"Somaiya Ayurvihar Complex, Eastern Express Hig...","72.871043,19.046146,0",2018-02-22T13:13:24.492Z,2018-02-22T13:33:19.636Z
893,2018-02-22,K. J. Somaiya Institute of Engineering and Inf...,"Somaiya Ayurvihar Complex, Eastern Express Hig...","72.871043,19.046146,0",2018-02-22T13:13:24.492Z,2018-02-22T13:33:19.636Z
894,2018-02-22,Driving,NaN,NaN,2018-02-22T13:33:19.636Z,2018-02-22T13:46:12.790Z
895,2018-02-22,Driving,NaN,NaN,2018-02-22T13:33:19.636Z,2018-02-22T13:46:12.790Z
896,2018-02-22,Driving,NaN,NaN,2018-02-22T13:33:19.636Z,2018-02-22T13:46:12.790Z
897,2018-02-22,Gurukrupa Sandwich,"TV Chidambaran Marg, Air Force Quarters, Jay B...","72.86484229999999,19.0441298,0",2018-02-22T13:46:12.790Z,2018-02-22T14:32:51.896Z
898,2018-02-22,Gurukrupa Sandwich,"TV Chidambaran Marg, Air Force Quarters, Jay B...","72.86484229999999,19.0441298,0",2018-02-22T13:46:12.790Z,2018-02-22T14:32:51.896Z
899,2018-02-22,Gurukrupa Sandwich,"TV Chidambaran Marg, Air Force Quarters, Jay B...","72.86484229999999,19.0441298,0",2018-02-22T13:46:12.790Z,2018-02-22T14:32:51.896Z
900,2018-02-22,Walking,NaN,NaN,2018-02-22T14:32:51.896Z,2018-02-22T15:10:35.918Z
901,2018-02-22,Walking,NaN,NaN,2018-02-22T14:32:51.896Z,2018-02-22T15:10:35.918Z
902,2018-02-22,Walking,NaN,NaN,2018-02-22T14:32:51.896Z,2018-02-22T15:10:35.918Z
903,2018-02-22,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...","72.9000899,19.0774884,0",2018-02-22T15:10:35.918Z,2018-02-22T15:33:42.648Z
904,2018-02-22,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...","72.9000899,19.0774884,0",2018-02-22T15:10:35.918Z,2018-02-22T15:33:42.648Z
905,2018-02-22,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...","72.9000899,19.0774884,0",2018-02-22T15:10:35.918Z,2018-02-22T15:33:42.648Z
906,2018-02-22,Walking,NaN,NaN,2018-02-22T15:33:42.648Z,2018-02-22T15:47:06.275Z
907,2018-02-22,Walking,NaN,NaN,2018-02-22T15:33:42.648Z,2018-02-22T15:47:06.275Z
908,2018-02-22,Walking,NaN,NaN,2018-02-22T15:33:42.648Z,2018-02-22T15:47:06.275Z
909,2018-02-22,K. J. Somaiya College of Engineering,"Vidyanagar, Vidya Vihar East, Ghatkopar East, ...","72.8998221,19.0730847,0",2018-02-22T15:47:06.275Z,2018-02-22T16:57:47.329Z
910,2018-02-22,K. J. Somaiya College of Engineering,"Vidyanagar, Vidya Vihar East, Ghatkopar East, ...","72.8998221,19.0730847,0",2018-02-22T15:47:06.275Z,2018-02-22T16:57:47.329Z
911,2018-02-22,K. J. Somaiya College of Engineering,"Vidyanagar, Vidya Vihar East, Ghatkopar East, ...","72.8998221,19.0730847,0",2018-02-22T15:47:06.275Z,2018-02-22T16:57:47.329Z
912,2018-02-22,Walking,NaN,NaN,2018-02-22T16:57:47.329Z,2018-02-22T17:11:50.352Z
913,2018-02-22,Walking,NaN,NaN,2018-02-22T16:57:47.329Z,2018-02-22T17:11:50.352Z
914,2018-02-22,Walking,NaN,NaN,2018-02-22T16:57:47.329Z,2018-02-22T17:11:50.352Z
915,2018-02-22,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...","72.9000899,19.0774884,0",2018-02-22T17:11:50.352Z,2018-02-23T01:40:05.000Z
916,2018-02-22,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...","72.9000899,19.0774884,0",2018-02-22T17:11:50.352Z,2018-02-23T01:40:05.000Z
917,2018-02-22,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...","72.9000899,19.0774884,0",2018-02-22T17:11:50.352Z,2018-02-23T01:40:05.000Z

In [7]:
new = data["coordinates"].str.split(",",expand = True)

In [8]:
data["lat"]=new[0]

In [9]:
data["long"]=new[1]

In [10]:
data.head()

,name,name3,address,name.1,value,description,coordinates,begin,end,lat,long
0,2018-02-01,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...",Email,sanchayvyas@gmail.com,NaN,"72.9000899,19.0774884,0",2018-01-31T17:21:54.049Z,2018-02-01T03:20:07.840Z,72.9000899,19.0774884
1,2018-02-01,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...",Category,Non-Profit Organization,NaN,"72.9000899,19.0774884,0",2018-01-31T17:21:54.049Z,2018-02-01T03:20:07.840Z,72.9000899,19.0774884
2,2018-02-01,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...",Distance,0,NaN,"72.9000899,19.0774884,0",2018-01-31T17:21:54.049Z,2018-02-01T03:20:07.840Z,72.9000899,19.0774884
3,2018-02-01,Motorcycling,NaN,Email,sanchayvyas@gmail.com,NaN,NaN,2018-02-01T03:20:07.840Z,2018-02-01T03:44:40.685Z,NaN,NaN
4,2018-02-01,Motorcycling,NaN,Category,Motorcycling,NaN,NaN,2018-02-01T03:20:07.840Z,2018-02-01T03:44:40.685Z,NaN,NaN

In [11]:
new = data["begin"].str.split("T",expand = True)

In [12]:
data["Date"]=new[0]

In [13]:
data["Timestamp"]=new[1]

In [14]:
data.head()

,name,name3,address,name.1,value,description,coordinates,begin,end,lat,long,Date,Timestamp
0,2018-02-01,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...",Email,sanchayvyas@gmail.com,NaN,"72.9000899,19.0774884,0",2018-01-31T17:21:54.049Z,2018-02-01T03:20:07.840Z,72.9000899,19.0774884,2018-01-31,17:21:54.049Z
1,2018-02-01,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...",Category,Non-Profit Organization,NaN,"72.9000899,19.0774884,0",2018-01-31T17:21:54.049Z,2018-02-01T03:20:07.840Z,72.9000899,19.0774884,2018-01-31,17:21:54.049Z
2,2018-02-01,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...",Distance,0,NaN,"72.9000899,19.0774884,0",2018-01-31T17:21:54.049Z,2018-02-01T03:20:07.840Z,72.9000899,19.0774884,2018-01-31,17:21:54.049Z
3,2018-02-01,Motorcycling,NaN,Email,sanchayvyas@gmail.com,NaN,NaN,2018-02-01T03:20:07.840Z,2018-02-01T03:44:40.685Z,NaN,NaN,2018-02-01,03:20:07.840Z
4,2018-02-01,Motorcycling,NaN,Category,Motorcycling,NaN,NaN,2018-02-01T03:20:07.840Z,2018-02-01T03:44:40.685Z,NaN,NaN,2018-02-01,03:20:07.840Z

In [21]:
cdata=data.drop(["name","name3","address","value", "description", "name.1","begin","end","coordinates"],axis=1)

In [22]:
cdata.head()

          lat        long        Date      Timestamp
0  72.9000899  19.0774884  2018-01-31  17:21:54.049Z
1  72.9000899  19.0774884  2018-01-31  17:21:54.049Z
2  72.9000899  19.0774884  2018-01-31  17:21:54.049Z
3         NaN         NaN  2018-02-01  03:20:07.840Z
4         NaN         NaN  2018-02-01  03:20:07.840Z

In [23]:
cdata.isnull().sum()

lat          486
long         513
Date          75
Timestamp    102
dtype: int64

In [24]:
cdata= cdata.dropna(axis=0)

In [25]:
cdata.isnull().sum()

lat          0
long         0
Date         0
Timestamp    0
dtype: int64

In [26]:
cdata.to_csv("cleandataset.csv",header=True)

In [40]:
import numpy as np
from sklearn.cluster import DBSCAN
from sklearn import metrics
coords=cdata.as_matrix(columns=['lat','long'])
print (coords)
kms_rad=200
epsilon=0.1/kms_rad
print(epsilon)
db=DBSCAN(eps=epsilon, min_samples=10, algorithm="ball_tree",metric="haversine").fit(np.array(coords))
cluster_labels=db.labels_
num_clusters=len(set(cluster_labels)-set([-1]))

[['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.8748609' '19.047134']
 ['72.8748609' '19.047134']
 ['72.8748609' '19.047134']
 ['72.8711172' '19.0503288']
 ['72.8711172' '19.0503288']
 ['72.8711172' '19.0503288']
 ['72.8825627' '19.063989799999998']
 ['72.8825627' '19.063989799999998']
 ['72.8825627' '19.063989799999998']
 ['72.912466' '19.0865914']
 ['72.912466' '19.0865914']
 ['72.912466' '19.0865914']
 ['72.8998221' '19.0730847']
 ['72.8998221' '19.0730847']
 ['72.8998221' '19.0730847']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.8995453' '19.0735074']
 ['72.8995453' '19.0735074']
 ['72.8995453' '19.0735074']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.86484229999999' '19.0441298']
 ['72.86484229999999' '19.0441298']
 ['72.86484229999999' '19.0441298']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.8998221' '19.0730847']
 ['72.8998221' '19.0730847']
 ['72.8998221' '19.0730847']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9014661' '19.0793514']
 ['72.9014661' '19.0793514']
 ['72.9014661' '19.0793514']
 ['72.9754684' '19.1864587']
 ['72.9754684' '19.1864587']
 ['72.9754684' '19.1864587']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.91230159999999' '18.5666211']
 ['73.91230159999999' '18.5666211']
 ['73.91230159999999' '18.5666211']
 ['73.8782743' '18.5707231']
 ['73.8782743' '18.5707231']
 ['73.8782743' '18.5707231']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.8782743' '18.5707231']
 ['73.8782743' '18.5707231']
 ['73.8782743' '18.5707231']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.8349224' '18.5117398']
 ['73.8349224' '18.5117398']
 ['73.8349224' '18.5117398']
 ['73.8210296' '18.506369']
 ['73.8210296' '18.506369']
 ['73.8210296' '18.506369']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.87255019999999' '18.6217454']
 ['73.8744212' '18.5289037']
 ['73.8744212' '18.5289037']
 ['73.8744212' '18.5289037']
 ['73.8720171' '18.52808']
 ['73.8720171' '18.52808']
 ['73.8720171' '18.52808']
 ['72.8998221' '19.0730847']
 ['72.8998221' '19.0730847']
 ['72.8998221' '19.0730847']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.8714864' '19.0507231']
 ['72.8714864' '19.0507231']
 ['72.8714864' '19.0507231']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.8711172' '19.0503288']
 ['72.8711172' '19.0503288']
 ['72.8711172' '19.0503288']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.86484229999999' '19.0441298']
 ['72.86484229999999' '19.0441298']
 ['72.86484229999999' '19.0441298']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.8995453' '19.0735074']
 ['72.8995453' '19.0735074']
 ['72.8995453' '19.0735074']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.8920193' '19.069492399999998']
 ['72.8920193' '19.069492399999998']
 ['72.8920193' '19.069492399999998']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.8978032' '19.0728088']
 ['72.8978032' '19.0728088']
 ['72.8978032' '19.0728088']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.8748609' '19.047134']
 ['72.8748609' '19.047134']
 ['72.8748609' '19.047134']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9014661' '19.0793514']
 ['72.9014661' '19.0793514']
 ['72.9014661' '19.0793514']
 ['72.8998221' '19.0730847']
 ['72.8998221' '19.0730847']
 ['72.8998221' '19.0730847']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.8998221' '19.0730847']
 ['72.8998221' '19.0730847']
 ['72.8998221' '19.0730847']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.8998221' '19.0730847']
 ['72.8998221' '19.0730847']
 ['72.8998221' '19.0730847']
 ['72.8995453' '19.0735074']
 ['72.8995453' '19.0735074']
 ['72.8995453' '19.0735074']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.8762862' '19.0493833']
 ['72.8762862' '19.0493833']
 ['72.8762862' '19.0493833']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.8998221' '19.0730847']
 ['72.8998221' '19.0730847']
 ['72.8998221' '19.0730847']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.8978032' '19.0728088']
 ['72.8978032' '19.0728088']
 ['72.8978032' '19.0728088']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.8998221' '19.0730847']
 ['72.8998221' '19.0730847']
 ['72.8998221' '19.0730847']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.8752939' '19.0494462']
 ['72.8752939' '19.0494462']
 ['72.8752939' '19.0494462']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.8762862' '19.0493833']
 ['72.8762862' '19.0493833']
 ['72.8762862' '19.0493833']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.8998221' '19.0730847']
 ['72.8998221' '19.0730847']
 ['72.8998221' '19.0730847']
 ['72.8995788' '19.052869299999998']
 ['72.8995788' '19.052869299999998']
 ['72.8995788' '19.052869299999998']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.8729633' '19.0479898']
 ['72.8729633' '19.0479898']
 ['72.8729633' '19.0479898']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.9129845' '19.0867654']
 ['72.9129845' '19.0867654']
 ['72.9129845' '19.0867654']
 ['72.8655789' '19.042977399999998']
 ['72.8655789' '19.042977399999998']
 ['72.8655789' '19.042977399999998']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.8978032' '19.0728088']
 ['72.8978032' '19.0728088']
 ['72.8978032' '19.0728088']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.86484229999999' '19.0441298']
 ['72.86484229999999' '19.0441298']
 ['72.86484229999999' '19.0441298']
 ['72.8995453' '19.0735074']
 ['72.8995453' '19.0735074']
 ['72.8995453' '19.0735074']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.8729633' '19.0479898']
 ['72.8729633' '19.0479898']
 ['72.8729633' '19.0479898']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.8762862' '19.0493833']
 ['72.8762862' '19.0493833']
 ['72.8762862' '19.0493833']
 ['72.89326919999999' '19.0668036']
 ['72.89326919999999' '19.0668036']
 ['72.89326919999999' '19.0668036']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.8998221' '19.0730847']
 ['72.8998221' '19.0730847']
 ['72.8998221' '19.0730847']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.8748609' '19.047134']
 ['72.8748609' '19.047134']
 ['72.8748609' '19.047134']
 ['72.8729633' '19.0479898']
 ['72.8729633' '19.0479898']
 ['72.8729633' '19.0479898']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.9129845' '19.0867654']
 ['72.9129845' '19.0867654']
 ['72.9129845' '19.0867654']
 ['72.8998221' '19.0730847']
 ['72.8998221' '19.0730847']
 ['72.8998221' '19.0730847']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.871043' '19.046146']
 ['72.86484229999999' '19.0441298']
 ['72.86484229999999' '19.0441298']
 ['72.86484229999999' '19.0441298']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.8998221' '19.0730847']
 ['72.8998221' '19.0730847']
 ['72.8998221' '19.0730847']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']
 ['72.9000899' '19.0774884']]
0.0005

C:\Users\sanch\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  after removing the cwd from sys.path.

In [34]:
print( 'Clustered ' + str(len(cdata)) + ' points to ' + str(num_clusters) + ' clusters')

Clustered 405 points to 5 clusters

In [33]:
cluster_labels

array([ 0,  0,  0,  1,  1,  1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1,  2,  2,  2,  0,  0,  0,  0,  0,  0,  2,  2,  2,  1,  1,  1,  1,
        1,  1,  3,  3,  3,  1,  1,  1,  0,  0,  0,  2,  2,  2,  0,  0,  0,
        0,  0,  0, -1, -1, -1, -1, -1, -1,  4,  4,  4, -1, -1, -1, -1, -1,
       -1,  4,  4,  4,  4,  4,  4, -1, -1, -1,  4,  4,  4,  4,  4,  4,  4,
        4,  4,  4,  4,  4,  4,  4,  4, -1, -1, -1, -1, -1, -1,  4,  4,  4,
        4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4, -1, -1, -1, -1, -1,
       -1,  2,  2,  2,  0,  0,  0,  0,  0,  0, -1, -1, -1,  1,  1,  1, -1,
       -1, -1,  1,  1,  1,  3,  3,  3,  0,  0,  0,  2,  2,  2,  0,  0,  0,
       -1, -1, -1,  0,  0,  0, -1, -1, -1,  0,  0,  0,  0,  0,  0, -1, -1,
       -1,  1,  1,  1,  1,  1,  1,  0,  0,  0, -1, -1, -1,  2,  2,  2,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  2,  2,  2,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  2,  2,  2,  2,  2,  2,  0,  0,  0,  0,  0,  0,  1,  1,
        1, -1, -1, -1,  0,  0,  0,  2,  2,  2,  0,  0,  0,  0,  0,  0,  1,
        1,  1,  1,  1,  1,  0,  0,  0, -1, -1, -1,  0,  0,  0,  2,  2,  2,
        0,  0,  0,  0,  0,  0,  1,  1,  1, -1, -1, -1,  1,  1,  1, -1, -1,
       -1,  1,  1,  1,  0,  0,  0,  2,  2,  2, -1, -1, -1,  0,  0,  0,  0,
        0,  0, -1, -1, -1,  1,  1,  1, -1, -1, -1, -1, -1, -1,  0,  0,  0,
       -1, -1, -1,  0,  0,  0,  0,  0,  0,  1,  1,  1,  3,  3,  3,  2,  2,
        2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  1, -1, -1, -1,  1,
        1,  1,  1,  1,  1, -1, -1, -1, -1, -1, -1,  0,  0,  0,  2,  2,  2,
        0,  0,  0,  0,  0,  0, -1, -1, -1, -1, -1, -1,  1,  1,  1, -1, -1,
       -1,  2,  2,  2,  0,  0,  0,  0,  0,  0,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  3,  3,  3,  0,  0,  0,  2,  2,  2,  0,  0,  0],
      dtype=int64)

In [35]:
cdata.head()

          lat        long        Date      Timestamp
0  72.9000899  19.0774884  2018-01-31  17:21:54.049Z
1  72.9000899  19.0774884  2018-01-31  17:21:54.049Z
2  72.9000899  19.0774884  2018-01-31  17:21:54.049Z
6   72.871043   19.046146  2018-02-01  03:44:40.685Z
7   72.871043   19.046146  2018-02-01  03:44:40.685Z

In [39]:
cdata.isnull().sum()

lat          0
long         0
Date         0
Timestamp    0
dtype: int64

In [41]:
cdata=cdata.iloc[::3,:]

In [42]:
cdata.head()

           lat                long        Date      Timestamp
0   72.9000899          19.0774884  2018-01-31  17:21:54.049Z
6    72.871043           19.046146  2018-02-01  03:44:40.685Z
12  72.8748609           19.047134  2018-02-01  08:40:07.807Z
18  72.8711172          19.0503288  2018-02-01  09:20:42.821Z
24  72.8825627  19.063989799999998  2018-02-01  13:59:17.116Z

In [ ]:
df.pivot(index='date', columns='name', values='dollars')